@import url(https://fonts.googleapis.com/css?family=Righteous);
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url('https://fonts.googleapis.com/css?family=Long+Cang&display=swap');
@import url('https://fonts.googleapis.com/css?family=Chilanka&display=swap');

a{
  cursor: pointer;
}

body {
   margin: 0;
   padding: 0;
   background-color: #fff; 
   background-image: linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
   linear-gradient(#eee .1em, transparent .1em);
   background-size: 100% 1.2em;
   font-family: Righteous;
 }

 #top-stuff{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   
 }
  /*social iconos */
  #social{
    display: flex;
    flex-direction: column;
    font-size: 2em;
    margin-top: 1.5em;
    margin-left: 45px;
    width: 100px;
    margin-bottom: -42px;
  }
    .fa-github{
      color: #2A2D34;
      position: relative;
      bottom: 4px;
      left: 1px;
    }
    .fa-linkedin-in{
      color: #3E517A;
      position: relative;
      left: 2px;
      bottom: 6px;
    }
    .fa-behance{
      color: lightslategray;
      position: relative;
      right: 2px;
      bottom: 5px;
    }

#iconos-tecnologias{
      text-align: center;
}
#about-div{
  position: relative;
  bottom: 20px; 
  left: 20px;
}
 /*texto "about me" */
    #aboutme{
      font-family: Roboto;  
      margin-top: 73px;
      margin-right: 70px;
    }
    #aboutme a{
      text-decoration: none;
      color: #2A2D34;
      font-size: 1.2em;
      position: relative;
      top: 2px;
    }

  /*titulo "my portfolio" */    
    .title {
        font-size: 100px;
        text-align: center;
        margin: 15vh auto 0px;
        text-transform: uppercase;
        font-weight: 700;
        font-family: Righteous;
        color: rgb(102, 108, 119);
        max-width: 1150px;
      }

      .title span {
        text-shadow: 0px 0 3px #828A99, 0 1px 0px, -2px 1px 0px, -1px 2px 0px #EFFFC8, -3px 2px 0px #3E517A, -2px 3px 0px #EFFFC8, -4px 3px 0px #2A2D34, -3px 4px 0px #EFFFC8, -5px 4px 0px #828A99, -4px 5px 0px #EFFFC8, -6px 5px 0px #828A99, -5px 6px 15px #828A99;
        display: inline-block;
        position: relative;
        padding: 0px 5px; 
        transition: 0.8s;
        transform: rotateZ(0deg);
      }

.pro4{  height: 50%;}
.pro1,.pro2,.pro3,.pro4 h3{
  text-align: center;
  font-family: Roboto;
  padding-left: 20px;
}
.pro1,.pro2,.pro3,.pro4{
  padding-left: 20px;
  padding-right: 20px;

}

 /*Organizar projects Showcase*/
#projects-js, #projects-react, #projects-java, #projects-ph{
  position: absolute;
  width: 80%;
  top: 38px;
  margin-bottom: 15%;
  margin-left: 9%;
  flex-direction: row;
  visibility: hidden;
  display: flex;
  justify-content: center;
}
.getup{
  position: relative;
  bottom: 30px;
  transition: all 800ms;
}
.getdown{
  margin-top: 230px;
  transform: scale(0.85);
  transition: all 1400ms;
}
#main-head{
 padding: 0px;
 height: 600px;
}
.container-img-proyecto{
  box-sizing: border-box;
  width: 24vw;
  height: 38vh;
  margin-top: -15px;
}
.img-proyecto{
  width:100%;
  height:100%;
  object-fit: cover;
  border-radius: 10px;
}

/*Añadir efecto sticker:
https://codepen.io/patrickkunka/pen/axEgL

*/
@custom-media --viewport-4 (min-width: 480px);
@custom-media --viewport-7 (min-width: 768px);
@custom-media --viewport-9 (min-width: 992px);
@custom-media --viewport-12 (min-width: 1200px);

@media (--viewport-4) {
  /* ... */
}
@media (--viewport-7) {
  /* ... */
}
@media (--viewport-9) {
  /* ... */
}
@media (--viewport-12) {
  /* ... */
}
