@import url(https://fonts.googleapis.com/css?family=Righteous);
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url('https://fonts.googleapis.com/css?family=Long+Cang&display=swap');

a{
  cursor: pointer;
}

body {
   margin: 0;
   padding: 0;
   background-color: #fff; 
   background-image: linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
   linear-gradient(#eee .1em, transparent .1em);
   background-size: 100% 1.2em;
   font-family: Righteous;
 }

 #top-stuff{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   
 }
  /*social iconos */
  #social{
    display: flex;
    flex-direction: column;
    font-size: 2em;
    margin-top: 1.5em;
    margin-left: 45px;
    width: 100px;
    margin-bottom: -42px;
  }
    .fa-github{
      color: #2A2D34;
      position: relative;
      bottom: 4px;
      left: 1px;
    }
    .fa-linkedin-in{
      color: #3E517A;
      position: relative;
      left: 2px;
      bottom: 6px;
    }
    .fa-behance{
      color: lightslategray;
      position: relative;
      right: 2px;
      bottom: 5px;
    }

#iconos-tecnologias{
      text-align: center;
}
#about-div{
  position: relative;
  bottom: 20px; 
  left: 20px;
}
 /*texto "about me" */
    #aboutme{
      font-family: Roboto;  
      margin-top: 73px;
      margin-right: 70px;
    }
    #aboutme a{
      text-decoration: none;
      color: #2A2D34;
      font-size: 1.2em;
      position: relative;
      top: 2px;
    }

  /*titulo "my portfolio" */    
    .title {
        font-size: 100px;
        text-align: center;
        margin: 15vh auto 0px;
        text-transform: uppercase;
        font-weight: 700;
        font-family: Righteous;
        color: rgb(102, 108, 119);
        max-width: 1150px;
      }

      .title span {
        text-shadow: 0px 0 3px #828A99, 0 1px 0px, -2px 1px 0px, -1px 2px 0px #EFFFC8, -3px 2px 0px #3E517A, -2px 3px 0px #EFFFC8, -4px 3px 0px #2A2D34, -3px 4px 0px #EFFFC8, -5px 4px 0px #828A99, -4px 5px 0px #EFFFC8, -6px 5px 0px #828A99, -5px 6px 15px #828A99;
        display: inline-block;
        position: relative;
        padding: 0px 5px; 
        transition: 0.8s;
        transform: rotateZ(0deg);
      }

.pro1{ border-top: 3px solid #F0DB4F;}
.pro2{ border-top: 3px solid #B7EFFD;}
.pro3{ border-top: 3px solid #E76F00;}
.pro4{ border-top: 3px solid #2F2674; height: 50%;}
.pro1,.pro2,.pro3,.pro4 h2{
  text-align: center;
  font-family: Roboto;
}
 /*Organizar projects Showcase*/
#projects-js, #projects-react, #projects-java, #projects-ph{
  position: absolute;
  width: 80%;
  top: 30px;
  margin-left: 9%;
  flex-direction: row;
  visibility: hidden;
  display: flex;
  justify-content: center;
}
.getup{
  position: relative;
  bottom: 30px;
  transition: all 800ms;
}
.getdown{
  margin-top: 200px;
  transform: scale(0.90);
  transition: all 1400ms;
}



/* Responsive stuff */
@media (min-width: 500px) and (max-width: 600px) {
  h1 {
    color: fuchsia;
  }

  .desc:after {
    content:" In fact, it's between 500px and 600px wide.";
  }
}

footer{
  text-align: center;
}
#footer-div{
  font-family: 'Long Cang', cursive;
  font-size: 1.3em;
  position: relative;
  right:400px;
  color: #8E97A8;
}

